<div id="{{ id }}" {{ attributes.addClass(classes) }}>
  {% for key, row in rows -%}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {{row.title}}
        </h4>
      </div>
      <div class="panel-body">
        {{row.content}}
      </div>
    </div>
  {%- endfor %}
</div>
