<div class="moderation-dashboard">
  {% if content.left %}
    <div class="moderation-dashboard-region">
      {{ content.left }}
    </div>
  {% endif %}
  {% if content.middle %}
    <div class="moderation-dashboard-region">
      {{ content.middle }}
    </div>
  {% endif %}
  {% if content.right %}
    <div class="moderation-dashboard-region">
      {{ content.right }}
    </div>
  {% endif %}
</div>
