.gcweb-signin {
    border-top: 1px solid #ddd;
    margin-top: .75em;
}
.home .gcweb-signin {
    border-top: 0px;
}


.breadcrumb li:first-child {
    border-left: 6px #26374a solid;
  }
#wb-bc li:first-child a {
    padding-left: 8px;
  }
#wb-bc a {
    padding: 5px 0px;
}
#wb-bc li:before {
    color: #333;
    content: ">";
    font-family: "Glyphicons Halflings";
    font-size: .7em;
}
/* .breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/ ";
} */
